# Aplicação
NODE_ENV=development
PORT=3000

# Banco
DATABASE_URL=mysql://usuario:senha@localhost:3306/treinamento_fg

# Autenticação
JWT_SECRET=troque-esta-chave
JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=troque-outra-chave
JWT_REFRESH_EXPIRES_IN=7d

# Logs
LOG_LEVEL=info